# игнорировать каталоги .git и .cache 
.git
.cache
.pytest_cache

# игнорировать все файлы *.class во всех каталогах, включая корневой каталог сборки 
**/*.class

# игнорировать все файлы markdown (md) кроме всех файлов README*.md, исключая README-secret.md
*.md
!README*.md
README-secret.md

# игнорировать лишние питоновские файлы
venv/

# игнорировать лишние файлы idea
.idea