version: "3"
services:
  getter:
    build:
      context: .
      dockerfile: docker-compose/getter/Dockerfile
    container_name: getter
    depends_on:
      - postgres
    ports:
      - "5000:5000"
    environment:
      - HOST=postgres-availability
      - PORT=5432
      - DBNAME=test_db
      - USER=testu
      - PASSWORD=admin
    restart: always
  postgres:
    # https://hub.docker.com/_/postgres
    image: postgres
    container_name: postgres
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
    ports:
      - "5432:5432"
   # volumes:
   #   - postgresv:/var/lib/postgresql/data
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    depends_on:
      - postgres
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "1234:80"
   # volumes:
   #   - pgadminv:/var/lib/pgadmin
# 1 - docker-compose up -d
# 1.1 - docker-compose up -d --build
# 2 - ... 